/* --------------------------- JACK RABBITS FONTS --------------------------- */
@charset "UTF-8";

@font-face {
  font-family: "jack-rabbits";
  /*src: url("assets/jack-rabbits.eot");
  src: url("assets/jack-rabbits.eot?#iefix") format("embedded-opentype"), url("assets/jack-rabbits.woff") format("woff"), url("assets/jack-rabbits.ttf")
  format("truetype"), url("assets/jack-rabbits.svg#jack-rabbits") format("svg");*/
  src: url("assets/jack-rabbits2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "jack-rabbits" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jack-rabbits" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: .86em;
}

.icon-bishop:before {
  content: "7";
}

.icon-bells:before {
  content: "b";
}

.icon-clubs:before {
  content: "c";
}

.icon-icicles:before {
  content: "i";
}

.icon-diamonds:before {
  content: "d";
}

.icon-hearts:before {
  content: "h";
}

.icon-horseshoes:before {
  content: "u";
}
.icon-acorns:before {
  content: "a";
}

.icon-king:before {
  content: "9";
}

.icon-knight:before {
  content: "5";
}

.icon-mushrooms:before {
  content: "m";
}

.icon-rabbit:before {
  content: "1";
}
.icon-squirrel:before {
  content: "2";
}
.icon-beaver:before {
  content: "3";
}
.icon-karrot:before {
  content: "!";
}
.icon-peanut:before {
  content: "@";
}
.icon-broccoli:before {
  content: "#";
}

.icon-queen:before {
  content: "8";
}

.icon-pawn:before {
  content: "4";
}

.icon-rook:before {
  content: "6";
}

.icon-shields:before {
  content: "o";
}

.icon-shells:before {
  content: "w";
}

.icon-skulls:before {
  content: "k";
}

.icon-spades:before {
  content: "s";
}

.icon-torches:before {
  content: "t";
}

.icon-lis:before {
  content: "l";
}

.icon-anchors:before {
  content: "n";
}

.icon-hex:before {
  content: "H";
}
.icon-triangle:before {
  content: "T";
}
.icon-rhombus:before {
  content: "R";
}
.icon-underground:before {
  content: "U";
}