@font-face {
  font-family: title;
  src: url("./assets/IrishGrover-Regular.ttf");
}

@font-face {
  font-family: base;
  src: url("./assets/Chalkboard.ttc");
}

:root {
  --home: #FDFCDE;
  --setup: #d9eafb;
  --intro: #daf3ea;
  --full: #f6e9f6;
  --more: #f0dfcd;
  --expansion: #e8e8e8;
  --field: #228b21;

  --clubs: #008480;
  --hearts: #B41722;
  --spades: darkslateblue;
  --diamonds: darkgoldenrod;
  --acorns: #6E6E23;
  --horseshoes: #89420A;
  --shields: #356C99;
  --torches: #C73500;
  --anchors: #7A1E74;
  --shells: #D83476;
  --icicles: #00ABC4;
  --bells: #B8A527;
  --land: #008200;
  --sea: #006B98;
  --fleurs: #9B4977;
}

#pre-show {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.nextArrow {
  font-size: 4rem;
  color: var(--field);
  position: absolute;
  height: 1em;
  width: 1em;
  line-height: 1em;
  top: calc(50% - 0.5em);
  right: -0.5em;
  vertical-align: middle;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  z-index: 100;
  pointer-events: none;
}

body {
  background-image: url(./images/bg.png);
  background-position: top center;
  background-attachment: fixed;
  font-family: base;
  font-size: 1rem;
  text-align: center;
  max-width: 89rem;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100vw;
}

.horizontal {
  display: block;
}

.vertical {
  display: none;
}

a.button.next {
  display: none;
  background-color: transparent;
  border: solid 0.5px darkgreen;
  color: darkgreen;
  text-shadow: none;
  box-shadow: 0 0 2px;
}

a.button.next:hover {
  background-color: transparent;
  color: var(--field);
  border-color: var(--field);
  box-shadow: 0 0 2px var(--field);
}

audio {
  position: fixed;
  bottom: -2.5em;
  left: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 10000;
  accent-color: red;
  /*fallbackforbrowsersthatsupportaccent-color*/
  filter: invert(100%) hue-rotate(180deg);
  /*makeseverythingdark*/
  : ;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

audio.playing {
  bottom: 0;
  display: block;
}

@media (width >88rem) {

  #languageMenu {
    position: absolute;
    top: 0.5rem;
    right: 0;
  }

  .handSection:not(.menu)>section {
    background-color: white;
    box-shadow: 1px 1px 3px black;
    margin-left: -20.8rem !important;
  }

  .handSection:not(.menu)>section>* {
    pointer-events: none;
  }

  .handSection:not(.menu)>section:hover,
  .handSection:not(.menu)>section.peak {
    margin-left: -10rem !important;
  }

  .handSection:not(.menu)>section.opened,
  .handSection:not(.menu)>section:first-child {
    margin-left: 0 !important;
  }

  .handSection:not(.menu)>section.opened>* {
    pointer-events: initial;
  }

  .handSection>footer,
  .nextArrow {
    display: none;
  }

  .handSection:not(.opened) a.button.next {
    display: block;
  }

  .handSection.opened>footer,
  .opened .nextArrow {
    display: block;
  }

  .optional,
  .handSection.shuffle>section {
    background-color: white;
  }

  .accent {
    background-color: black !important;
    justify-content: center !important;
  }

  .note {
    box-shadow: none !important;
    background-color: var(--home) !important;
  }

}

@media (width <=88rem) {
  body {
    max-width: 45rem;
  }

  line {
    white-space: nowrap;
  }

  .handSection>section {
    width: 39rem !important;
    padding: 1rem 0.6rem !important;
  }

  html[lang="es"] .handSection>section {
    width: 40rem !important;
  }

  .nextArrow {
    transform: rotate(90deg);
    top: auto;
    left: auto;
    right: calc(50% - 0.5em);
    bottom: -0.5em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .horizontal {
    display: none;
  }

  .vertical {
    display: block;
  }

}


@media (width <=45rem) {
  body {
    max-width: 30rem;
  }

  line {
    white-space: initial;
  }

  .handSection>section,
  html[lang="es"] .handSection>section {
    width: 21rem !important;
  }

  header>a.buy {
    display: none;
  }

  light-box>section,
  main>ul {
    margin: 0.5rem;
    width: 100% !important;
  }

  .carded.link {
    border-width: 0.2rem !important;
  }

  footer .bulletMenu ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  footer .bulletMenu>ul>li {
    margin: 0.5rem 0;
  }

  footer .bulletMenu>ul>li:not(:first-child)::before {
    display: none;
  }


  .playlist img {
    display: none;
  }

  .playlist a {
    font-size: 1.1rem;
  }

}

h1,
h2,
h3,
h4,
h5 {
  font-family: title;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  line-height: initial;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: .9em;
}

strong {
  font-weight: normal;
  /*font-style: italic;*/
  text-decoration: underline;
}

small {
  font-family: base;
  text-transform: initial;
  font-size: 1rem;
  vertical-align: top;
}

li {
  list-style-type: none;
}

p {
  margin: 0 auto 0.7rem;
}

.handSection p:last-child {
  margin-bottom: 0;
}

line>span {
  display: inline-block;
  text-wrap: nowrap;
  margin: 0 0.25em;
}


li>line>span {
  display: block;
}


line>span.highlighted {
  background: #fd68;
  border-radius: 0.5em;
  font-weight: bold;
  text-shadow: 0 0 2px gold;
  box-shadow: 0 0 0.5em gold;
}

.singing {
  position: relative;
}

.singing:before,
.singing::after {
  content: "♪";
  /*or♫orwhatever*/
  display: inline-block;
  animation: upDown 0.6s ease-in-out infinite;
  -webkit-animation: upDown 0.6s ease-in-out infinite;
  left: -1.3em;
  position: absolute;
  width: 1em;
  text-align: center;
}

.singing::after {
  animation-delay: 0.5s;
  /* stagger them for a nicer effect */
  left: unset;
  right: -1.3em;
}


.sing {
  display: inline-block;
  animation: upDown 1s ease-in-out infinite;
  -webkit-animation: upDown 1s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0.2em);
    -webkit-transform: translateY(0.2em);
    -moz-transform: translateY(0.2em);
    -ms-transform: translateY(0.2em);
    -o-transform: translateY(0.2em);
  }

  50% {
    transform: translateY(-0.2em);
    -webkit-transform: translateY(-0.2em);
    -moz-transform: translateY(-0.2em);
    -ms-transform: translateY(-0.2em);
    -o-transform: translateY(-0.2em);
  }

  /* how high it moves */
  100% {
    transform: translateY(00.2em);
    -webkit-transform: translateY(00.2em);
    -moz-transform: translateY(00.2em);
    -ms-transform: translateY(00.2em);
    -o-transform: translateY(00.2em);
  }
}

line>span:first-child>span {
  margin-right: -0.5em;
}

a {
  color: darkgreen;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: var(--field);
}

a.thumbnail:hover img {
  background-color: rgba(0, 0, 255, 0.3);
}

a.pop:after {
  content: "🃟";
  font-size: 0.7em;
  vertical-align: top;
  margin: -0.5em -0.3em;
  display: inline-block;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}

a[target="_blank"]::after {
  content: "➚";
  font-size: 0.7em;
  vertical-align: top;
  margin: -0.5em -0.3em;
  display: inline-block;
}

nav a {
  text-decoration: none;
}

a.button {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'title';
  display: inline-block;
  margin: 0 auto;
  width: fit-content;
  white-space: nowrap;
  color: var(--home);
  background-color: darkblue;
  padding: 0 1em;
  line-height: 2.5em;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

a.button.song {
  background-color: darkred;
}

a.button.song:hover {
  background-color: #b00;
}

main a.button.song {
  background-color: transparent;
  border: solid 1px darkred;
  color: darkred;
  box-shadow: 0 0 2px;
}

main a.button.song:hover {
  background-color: transparent;
  color: #b00;
  border-color: #b00;
  box-shadow: 0 0 2px #b00;
}

a.button.song.playing {
  color: red;
  border-color: red;
  box-shadow: 0 0 0.5em #F008, 0 0 0.5em #F008 inset;
  text-shadow: 0 0 0.5em #F008;
}

.handSection.shuffle>section a.button.song small {
  display: none !important;
}


a.button:hover {
  background-color: blue;
}

a.video {
  border: solid 1px var(--home);
  ;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 5em);
}

a.video:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

header>a.buy {
  position: absolute;
  right: 0;
  bottom: 0;
}

a.buy {
  background-color: darkgreen;
}

a.buy:hover {
  background-color: var(--field);
}

b {
  font-family: title;
  text-transform: uppercase;
  font-size: 0.86em;
}

.clubs {
  color: var(--clubs);
}

.hearts {
  color: var(--hearts);
}

.spades {
  color: var(--spades);
}

.diamonds {
  color: var(--diamonds);
}

.acorns {
  color: var(--acorns);
}

h4>span {
  text-shadow: 0 0 2px white;
}

.horseshoes {
  color: var(--horseshoes);
}

.shields {
  color: var(--shields);
}

.torches {
  color: var(--torches);
}

.anchors {
  color: var(--anchors);
}

.shells {
  color: var(--shells);
}

.icicles {
  color: var(--icicles);
}

.bells {
  color: var(--bells);
}

.land {
  color: var(--land);
}

.sea {
  color: var(--sea);
}

.fleurs {
  color: var(--fleurs);
}

sup {
  font-weight: bold;
  border-radius: 1rem;
  width: 1rem;
  display: inline-block;
  margin: -0.3rem -0.3rem 0 -0.5rem;
  vertical-align: text-top;
  text-shadow: 1px 1px 0 black;
}

.warning {
  color: red;
}

big {
  font-size: 1.5em;
}

i {
  font-style: italic;
}

/*
i::before {
  content: "“";
}

i::after {
  content: "”";
}

html[lang="es"] i::before {
  content: "«";
}

html[lang="es"] i::after {
  content: "»";
}
*/

img[src=""],
img:not([src]) {
  display: none;
}

body>aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 2rem 1rem 0;
  margin: 1.5rem 0 2rem;
  box-shadow: 1px 1px 3px black;
  border-radius: 0.5rem;
}

body>header {
  position: relative;
  padding: 0.5rem;
}

body>header a {
  color: inherit;
  text-decoration: none;
}

body>header h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

.logoName {
  white-space: nowrap;
}

.logoSuper {
  position: absolute;
  left: 0;
  top: -0.7rem;
}

.logoSub {
  position: absolute;
  right: 0;
  bottom: -0.7rem;
}

.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

body>header h1>* {
  margin: 0 0.3rem;
}

#content {
  background-color: var(--home);
}

#content img {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  margin: 0 auto;
}

.handSection>section img {
  margin: 0 auto 0.5rem;
  width: auto;
}

.carded {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-position: center center;
  box-shadow: 1px 1px 3px black;
}

#content .carded.link {
  border: solid 0.33rem darkgreen;
  justify-content: center !important;
}

.carded.link:hover {
  border-color: var(--field);
}

.carded.link:hover a {
  background-color: var(--field);
}

.carded.link img {
  z-index: 1;
}

.carded.link a.button {
  font-size: 1.3em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border-radius: 0;
  z-index: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.handSection>section.letter {
  max-width: fit-content;
  padding-left: 2em;
  padding-right: 2em;
  background-color: white;
  box-shadow: 1px 1px 3px black;
}

.note {
  padding: 0.33rem 0;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 3px black;
  height: fit-content;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.playlist header {
  background-color: white;
}

.playlist menu {
  display: flex;
  flex-direction: row;
}

.playlist menu>* {
  margin: 0.5rem;
}

.playlist section {
  position: relative;
  background: darkred;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  width: fit-content;
  max-width: -webkit-fill-available;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.playlist ul {
  text-align: left;
  width: -webkit-fill-available;
}

.playlist li {
  width: 100% !important;
}

.playlist img {
  max-width: 40%;
  width: max-content;
  height: auto;
  object-fit: cover;
  padding-right: 0.5rem;
}

.playlist a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.3em;
  padding: 0.3rem;
  font-size: 1.3rem;
  font-family: title;
  font-variant: small-caps;
  color: white;
  width: 100%;
}

.playlist a small {
  font-family: title;
  font-variant: small-caps;
}

.playlist a.playing {
  background-color: red;
}

.playlist a:hover {
  background-color: #b00;
}

.playlist a::before {
  display: inline-block;
  content: "◼";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.playlist a.playing::before {
  content: "▶";
}

.handSection.shuffle {
  display: flex;
}

.handSection.shuffle>section {
  box-shadow: 1px 1px 3px black;
  background-color: white;
}

.letter p {
  width: 17.4rem;
  display: block;
  text-align: left;
  font-style: italic;
  text-indent: 1.8rem;
  color: #676;
}

.letter p:last-child {
  text-align: right;
}

body>header>a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body>header>a>* {
  vertical-align: middle;
}

nav.main>ul {
  width: 100%;
  font-family: title;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 0.3rem 0 0;
  display: flex;
  justify-content: space-around;
  align-items: self-end;
  border-top: solid 0.2rem black;
}

nav.main>ul>li:first-child {
  display: none;
}

nav.main>ul>li {
  width: -webkit-fill-available;
  max-width: 10rem;
}

nav.main>ul>li>a {
  height: 3.5rem;
  line-height: 1.1rem;
  align-content: center;
  display: block;
  padding: 0.7rem 1rem 1rem;
  border-bottom: solid 0.5rem transparent;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

nav.main>ul>li:last-child {
  display: none;
}


html[lang="es"] nav.main>ul>li>a {
  line-height: 0.9rem;
  padding: 0.7rem 0.5rem 1rem;
}


nav.main>ul>li>a.active {
  font-size: 1.5em;
  opacity: 1;
  overflow: visible;
  text-overflow: ellipsis;
  color: black;
}

body>main {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px black;
  margin: 0.5rem 0;
  overflow: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#content {
  padding: 0.5rem 0 1.5rem;
}

.handSection:not(:first-child) {
  padding-top: 1rem;
}

#content,
.handSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  width: 100%;
}


.handSection>header,
#content>header {
  width: 100%;
  padding: 2rem 1rem 1rem;
  margin: 1rem 1rem 0;
  border-top: solid 2px #0008;
}

.handSection>footer,
#content>footer {
  width: 100%;
  margin-top: 0.5rem;
}

.handSection>header>main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.handSection>header>main>* {
  margin: 0 0.2rem;
}

.handSection>section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 21.5rem;
  margin: 0.5rem 0.25rem;
  padding: 2rem 0.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.handSection>section>section {
  margin: 0.3rem 0;
}

ul.exception {
  text-align: left;
  padding-left: 1rem;
  width: fit-content;
  margin: 0 auto;
}

ul.exception>li::before {
  content: "•";
  float: left;
  margin-left: -0.5em;
}

ul.exception>li:first-child:before,
.handSection>section ul>li:first-child:before {
  content: "○";
}

ul.exception>li,
.playlist ul>li {
  width: min-content;
}

ul.exception>li>line {
  width: min-content;
}

body>footer {
  padding: 1rem 1rem 1.5rem;
  margin-bottom: 1rem;
}

.bulletMenu {
  line-height: 2.25em;
}

.bulletMenu>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bulletMenu>ul a.selected {
  color: #666;
  pointer-events: none;
}

.bulletMenu>ul>li:not(:first-child)::before {
  content: "•";
  margin: 0 0.5rem;
}

light-box {
  display: flex;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

light-box.opened {
  opacity: 1;
  pointer-events: initial;
}

light-box>section {
  padding: 1rem;
  padding-bottom: 1.5rem;
  width: 39rem;
  height: fit-content;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

light-box>section>a {
  color: black;
  text-decoration: none;
  position: absolute;
  line-height: 0.7rem;
  top: 1rem;
  right: 1rem;
  padding: 0.7rem;
  margin: -1rem;
  background-color: white;
  z-index: 110;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

light-box img {
  max-width: 100%;
}

section.optional h4 {
  margin-bottom: 0.4em;
}

section.optional h5:before {
  content: "+ ";
}