@font-face {
  font-family: title;
  src: url("./assets/IrishGrover-Regular.ttf");
}

@font-face {
  font-family: base;
  src: url("./assets/Chalkboard.ttc");
}

:root {
  --home: #FDFCDE;
  --setup: #d9eafb;
  --intro: #daf3ea;
  --full: #eddded;
  --more: #e8d6c4;
  --expansion: #e8e8e8;
  --field: #228b21;

  --clubs: #008480;
  --hearts: #B41722;
  --spades: darkslateblue;
  --diamonds: darkgoldenrod;
  --acorns: #6E6E23;
  --horseshoes: #89420A;
  --shields: #356C99;
  --torches: #C73500;
  --anchors: #7A1E74;
  --shells: #D83476;
  --icicles: #00ABC4;
  --bells: #B8A527;
  --land: #008200;
  --sea: #006B98;
  --fleurs: #9B4977;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/bg.png);
  background-position: top center;
  font-family: base;
  font-size: 1rem;
  text-align: center;
  max-width: 89rem;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

@media (width <=88rem) {
  body {
    max-width: 45rem;
  }

  article.main>article>section {
    width: 39rem !important;
  }

  html[lang="es"] article.main>article>section {
    width: 40rem !important;
  }
}


@media (width <=45rem) {
  body {
    max-width: 30rem;
  }

  article.main>article>section,
  html[lang="es"] article.main>article>section {
    width: 21rem !important;
  }

  header>a.buy {
    display: none;
  }

  light-box>section,
  main>ul {
    margin: 0.5rem;
    width: 100% !important;
  }

  .carded.link a.button {
    font-size: 1.1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .carded.link {
    border-width: 0.2rem !important;
  }

}

h1,
h2,
h3,
h4,
h5 {
  font-family: title;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  line-height: initial;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: .9em;
}

strong {
  font-weight: normal;
  /*font-style: italic;*/
  text-decoration: underline;
}

small {
  font-family: base;
  text-transform: initial;
  font-size: 1rem;
  vertical-align: top;
}

li {
  list-style-type: none;
}

p {
  margin: 0 auto 0.7rem;
}

p:last-child {
  margin-bottom: 0;
}

p>div>span,
ul.exception>li>div>span {
  display: inline-block;
  text-wrap: nowrap;
  margin: 0 0.25em;
}

p>div>span:first-child>span,
ul.exception>li>div>span:first-child>span {
  margin-right: -0.5em;
}

a {
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: blue;
}

a.thumbnail:hover img {
  background-color: rgba(0, 0, 255, 0.3);
}

a.pop:after {
  content: "🃟";
  font-size: 0.7em;
  vertical-align: top;
  margin: -0.5em -0.3em;
  display: inline-block;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}

a[target="_blank"]::after {
  content: "➚";
  font-size: 0.7em;
  vertical-align: top;
  margin: -0.5em -0.3em;
  display: inline-block;
}

a.button {
  text-transform: uppercase;
  font-family: 'title';
  display: inline-block;
  margin: 0 auto;
  width: fit-content;
  white-space: nowrap;
  color: var(--home);
  background-color: darkblue;
  padding: 0 1em;
  line-height: 2.5em;
  text-shadow: 1px 1px 2px black;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

a.button:hover {
  background-color: blue;
}

a.video {
  border: solid 1px var(--home);
  ;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 5em);
}

a.video:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

header>a.buy {
  position: absolute;
  right: 0;
  bottom: 0;
}

a.buy {
  background-color: darkgreen;
}

a.buy:hover {
  background-color: var(--field);
}

b {
  font-family: title;
  text-transform: uppercase;
  font-size: 0.86em;
}

.clubs {
  color: var(--clubs);
}

.hearts {
  color: var(--hearts);
}

.spades {
  color: var(--spades);
}

.diamonds {
  color: var(--diamonds);
}

.acorns {
  color: var(--acorns);
}

.horseshoes {
  color: var(--horseshoes);
}

.shields {
  color: var(--shields);
}

.torches {
  color: var(--torches);
}

.anchors {
  color: var(--anchors);
}

.shells {
  color: var(--shells);
}

.icicles {
  color: var(--icicles);
}

.bells {
  color: var(--bells);
}

.land {
  color: var(--land);
}

.sea {
  color: var(--sea);
}

.fleurs {
  color: var(--fleurs);
}

sup {
  font-weight: bold;
  border-radius: 1rem;
  width: 1rem;
  display: inline-block;
  margin: -0.3rem -0.3rem 0 -0.5rem;
  vertical-align: text-top;
  text-shadow: 1px 1px 0 black;
}

.warning {
  color: red;
}

big {
  font-size: 1.5em;
}

i {
  font-style: italic;
}

/*
i::before {
  content: "“";
}

i::after {
  content: "”";
}

html[lang="es"] i::before {
  content: "«";
}

html[lang="es"] i::after {
  content: "»";
}
*/

img[src=""],
img:not([src]) {
  display: none;
}

body>aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 2rem 1rem 0;
  margin: 1.5rem 0 2rem;
  box-shadow: 1px 1px 3px black;
  border-radius: 0.5rem;
}

body>header {
  position: relative;
}

body>header a {
  color: inherit;
  text-decoration: none;
}

body>header h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

.logoName {
  white-space: nowrap;
}

.logoSuper {
  position: absolute;
  left: 0;
  top: -0.7rem;
}

.logoSub {
  position: absolute;
  right: 0;
  bottom: -0.7rem;
}

.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

body>header h1>* {
  margin: 0 0.3rem;
}

article.main img {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  margin: 0 auto;
}

article.main>article>section img {
  margin: 0 auto 0.5rem;
  width: auto;
}

.carded {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-position: center center;
  box-shadow: 1px 1px 3px black;
}

.carded.link {
  border: solid 0.33rem darkgreen;
  justify-content: center !important;
}

.carded.link:hover {
  border-color: var(--field);
}

.carded.link:hover a {
  background-color: var(--field);
}

.carded.link img {
  z-index: 1;
}

article.main>article>section.letter {
  max-width: fit-content;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 3px black;
}


article.main>article.shuffle {
  display: flex;
}

article.main>article.shuffle>section {
  box-shadow: 1px 1px 3px black;
  background-color: #ffffff66;
}

.letter p {
  width: 17.4rem;
  display: block;
  text-align: left;
  font-style: italic;
  text-indent: 1.8rem;
}

.letter p:last-child {
  text-align: right;
}

body>header>a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body>header>a>* {
  vertical-align: middle;
}

nav.main>ul {
  width: 100%;
  font-family: title;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 0.3rem 0 0;
  display: flex;
  justify-content: space-around;
  align-items: self-end;
  border-top: solid 0.2rem black;
}

nav.main>ul>li:first-child {
  display: none;
}

nav.main>ul>li {
  width: -webkit-fill-available;
  max-width: 10rem;
}

nav.main>ul>li>a {
  height: 3.5rem;
  line-height: 1.1rem;
  align-content: center;
  display: block;
  padding: 0.7rem 1rem 1rem;
  border-bottom: solid 0.5rem transparent;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

nav.main>ul>li:last-child {
  display: none;
}


html[lang="es"] nav.main>ul>li>a {
  line-height: 0.9rem;
  padding: 0.7rem 0.5rem 1rem;
}


nav.main>ul>li>a.active {
  font-size: 1.5em;
  opacity: 1;
  overflow: visible;
  text-overflow: ellipsis;
  color: black;
}

body>main {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px black;
  margin: 0.5rem 0;
  overflow: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

article.main {
  padding: 0.5rem 0 1.5rem;
}

article.main>article:not(:first-child) {
  padding-top: 1rem;
}

article.main,
article.main>article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  width: 100%;
}


article.main>article>header,
article.main .heading,
article.main>header {
  width: 100%;
  padding: 1rem;
  margin: 1rem 2rem 0;
  border: solid 1.7px black;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

article.main>article>footer,
article.main>footer {
  width: 100%;
  margin: 0.5rem 2rem 0;
}

article.main>article>header>main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

article.main>article>header>main>* {
  margin: 0 0.2rem;
}

article.main>article>section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  width: 21.5rem;
  margin: 0.5rem 0.25rem;
  padding: 2rem 0.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

article.main>article>section>section {
  margin: 0.3rem 0;
}

ul.exception {
  text-align: left;
  padding-left: 1rem;
  width: fit-content;
  margin: 0 auto;
}

ul.exception>li::before {
  content: "•";
    float: left;
    margin-left: -1em;
}

ul.exception>li:first-child:before {
  content: "○";
}

ul.exception>li {
  width: min-content;
}

ul.exception>li>div {
  width: min-content;
}

body>footer {
  padding: 1rem 1rem 1.5rem;
  margin-bottom: 0.5rem;
}

.bulletMenu {
  line-height: 2.25em;
}

.bulletMenu>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bulletMenu>ul a.selected {
  color: #555;
  pointer-events: none;
}

.bulletMenu>ul>li:not(:first-child)::before {
  content: "•";
  margin: 0 0.5rem;
}

light-box>section {
  padding: 1rem;
  padding-bottom: 1.5rem;
  width: 39rem;
  height: fit-content;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

light-box>section>a {
  position: absolute;
  line-height: 0.7rem;
  top: 1rem;
  right: 1rem;
  padding: 0.7rem;
  margin: -1rem;
  background-color: white;
  z-index: 110;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

light-box img {
  max-width: 100%;
}

section.optional h4 {
  margin-bottom: 0.4em;
}

section.optional h5:before {
  content: "+ ";
}