@font-face {
  font-family: title;
  src: url("../assets/IrishGrover-Regular.ttf");
}

@font-face {
  font-family: base;
  src: url("../assets/Chalkboard.ttc");
}

:root {
  --home: #FDFCDE;
  --setup: #d9eafb;
  --intro: #daf3ea;
  --full: #eddded;
  --optional: #d0c0b0;
}

html {
  background-image: url(../images/bg.png);
}

body {
  font-family: base, verdana;
  font-size: 1rem;
  text-align: center;
  max-width: 88rem;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (width <=88rem) {
  body {
    max-width: 45rem;
  }

  #page_article>section {
    width: 38rem !important;
  }

  article p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}


@media (width <=45rem) {
  body {
    max-width: 30rem;
  }

  #page_article>section {
    width: 20rem !important;
  }

  light-box>main,
  section>ul {
    margin: 1.5rem;
    width: var(--full) !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: title;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: .9em;
}

strong {
  font-weight: bold;
}

small {
  font-family: base;
  text-transform: initial;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

p {
  margin: 0 auto 0.7rem;
}

p:last-child {
  margin-bottom: 0;
}

p>span {
  margin: 0 0.2rem;
  display: inline-block;
  text-wrap: nowrap;
}

a {
  color: navy;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: blue;
}

a.pop:after {
  content: "🃟";
  font-size: 0.7em;
  vertical-align: text-top;
  margin: -0.5em -0.3em;
  display: inline-block;
  transform: rotate(-20deg);
}

a[target="_blank"]::after {
  content: "➚";
  font-size: 0.7em;
  vertical-align: text-top;
  margin: -0.5em -0.3em;
  display: inline-block;
}

b {
  font-family: title;
  text-transform: uppercase;
}

i::before {
  content: "“";
}

i::after {
  content: "”";
}

html[lang="es"] i::before {
  content: "«";
}

html[lang="es"] i::after {
  content: "»";
}

body>header a {
  color: inherit;
  text-decoration: none;
}

body>header h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

.logo-super {
  position: inherit;
  margin-right: -5rem;
  margin-top: -3rem;
}

.logo-sub {
  position: inherit;
  margin-left: -6rem;
  margin-bottom: -2.8rem;
}

body>header h1>* {
  margin: 0 0.3rem;
}

img {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  max-width: 90%;
  margin: 0 auto;
}

#page_article>section img {
  margin: 0 auto 0.5rem;
  width: auto;
}

.carded {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center center;
  box-shadow: 1px 1px 3px black;
}

#page_article>section.letter {
  padding: 1rem 1.5rem;
  max-width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 3px black;
}

.letter p {
  width: 17.4rem;
  display: block;
  text-align: left;
  font-style: italic;
  text-indent: 1rem;
}

.letter p:last-child {
  text-align: right;
}

body>header>a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body>header>a>* {
  margin: 0 0.3rem;
}

#main_nav>ul {
  width: 100%;
  font-family: title;
  text-transform: uppercase;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: self-end;
}

#main_nav>ul>li {
  align-content: center;
  width: fit-content;
  line-height: 1rem;
  padding: 0.6rem 0;
  opacity: 0.8;
  height: 3.5rem;
  margin: 0 5%;
}

#main_nav>ul>li>a.active {
  font-size: 1.8em;
  opacity: 1;
  overflow: visible;
  text-overflow: ellipsis;
}

body>main {
  display: flex;
  flex-direction: column;
}

#page_article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}

#page_article>header,
#page_article>footer {
  width: 100%;
  padding: 1rem;
  margin: 1.5rem;
  border: solid 1.7px black;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#page_article>header>main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

#page_article>header>main>* {
  margin: 0 0.2rem;
}

#page_article>section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

section>ul {
  text-align: left;
  text-indent: -0.5rem;
  padding-left: 0.5rem;
  letter-spacing: -0.045em;
  width: fit-content;
  margin: 0 auto;
}

section>ul>li::before {
  content: "•";
  margin-right: 0.25em;
}

body>footer {
  background-color: #eee;
  padding: 1rem;
}

.bullet_menu>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bullet_menu>ul a.selected{
  color: #555;
  text-decoration: underline;
  pointer-events: none;
}

.bullet_menu>ul>li:not(:first-child)::before {
  content: "•";
  margin: 0 0.5rem;
}

light-box>main {
  padding: 1rem;
  padding-bottom: 1.5rem;
  width: 38rem;
  height: fit-content;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

light-box>main>a {
  position: absolute;
  line-height: 0.7rem;
  right: 0;
  top: 0;
  padding: 1rem;
  margin: -1rem;
  background-color: white;
  z-index: 110;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}